@model System.Collections.Generic.List<personalData> 
@{

    ViewBag.Title = "Om mig";
    int collapseID = 1;
}


<script type="text/javascript">
    document.getElementById("btnAbout").setAttribute("class", "active");
</script>

<row>
    @*<div class="col-lg-12">
        <h2>Information om mig</h2>
        <div class="panel-group" id="accordion">

            @foreach (var item in myDataBase.personalDatas)
            {
                string collapseString = "collapse" + collapseID.ToString();
                string collapseStringHash = "#collapse" + collapseID.ToString();
                collapseID++;

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="@collapseStringHash">@item.title</a>
                        </h4>
                    </div>
                    <div id="@collapseString" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <p>@item.text</p>
                            <img class="img-responsive" src="@item.imagelink" width="500 px" />
                        </div>
                    </div>
                </div>

            }

        </div>
    </div>*@

    <div class="col-lg-12">
        <h2>Accordion 2 (Hardcoded)</h2>
        <div class="panel-group" id="accordion">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">CV</a>
                    </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse in">
                    <div class="panel-body">
                        Studerar Teknik-4 i Östra Gymnasiet med inriktning "Informationsteknik". </br>
                        Arbetar deltid i Strikersoft AB (mjukvaroutvecklingsbolag); hanterar kunduppgifter i CRM, skapar ringlistor, översätter arbetsuppgifter åt outsourcers.
                        <img class="img-responsive" src="~/Content/img/pic-list.jpg" width="500 px" />
                    </div>
                </div>
            </div>


            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Mer om utbildning</a>
                    </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse">
                    <div class="panel-body">
                        <h4>Studerade i Sjödalsgymnasiet, Teknik, Design och Produktutveckling, inriktning: programmering. </h4>
                        Fortsätter fördjupa mina kunskaper inom allt nedanstående: </br>
                        <strong>C#, Java</strong> - de objektorienterade språken som jag hanterar lätt. </br>
                        <strong>Android SDK</strong> - tilläget för Eclipse (Java SDK) där jag skapade enklare Android appar. </br>
                        <strong>HTML, CSS, Javascript</strong> - allt som är bra att kunna för WEB back-end. </br>
                        &nbsp; </br>
                        Stödverktyg: <strong>Git och Github samt Bootstrap</strong> gör mitt arbete smidigare och effektivare.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Språken: SWE, ENG, RUS</a>
                    </h4>
                </div>
                <div id="collapse3" class="panel-collapse collapse">
                    <div class="panel-body">
                        <h4>Engelska, ryska och svenska talar jag fritt</h4>
                        Sedan jag började surfa på Internet blev <strong>engelska mitt andra språket i vardagen</strong>.
                        Idag har jag certificat <strong>Cambridge English Advanced</strong>
                        <img class="img-responsive" src="~/Content/img/pic-cae-s.jpg" width="500 px" />
                        <p>&nbsp;</p>
                        <strong>Ryska</strong> är mitt modersmål. Ett språk som talas av många i Östeuropa och västra Asien. Har du hört talas om dukriga systemutvecklare från slaviska länder?</br>
                        <p>&nbsp;</p>
                        <strong>Svenska</strong> lärde jag mig snabbt tack vare bra kunskaper i engelska. Språket hindrade mig aldrig från att
                        kommunicera och skapa väldetaljerade rapporter om mitt arbete i gymnasiet. Se mitt gymnasiearbete här:
                        <a href="http://ursus.one/gas/_uploads/SW_2_74.pdf" target="_blank">Webbutveckling, bygger en egen webbapp på en färdig webmotor motor "Nibbleblog"</a>
                        &nbsp;

                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">Arbetssätt</a>
                    </h4>
                </div>
                <div id="collapse4" class="panel-collapse collapse">
                    <div class="panel-body">
                        <h4>Jag strävar allltid efter att förbättra min effektivitet</h4>
                        Till exempel, ser jag ett jobb som kräver upprepande åtgärder då
                        automatiserar jag arbetet så gott det går. </br>
                        Att söka kunduppgifter på nätet går mycket smidigare med
                        avancerade macros och extra inmatningshårdvara. </br>
                        Git är ett livsviktigt verktyg med stora fördelarы</br>
                        Att anpassa aretsplatsen är inte mindre viktigt - inget ska störa från kodsurfen...
                        och det är alltid skönt att arbeta med två skärmar
                        när det finns fler program att hantera samtidigt.
                        <img class="img-responsive" src="~/Content/img/pic-macro.jpg" width="500 px" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</row>